<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  
    <div padding>
  <ion-segment [(ngModel)]="type">
    <ion-segment-button value="con_info">
      Contact
    </ion-segment-button>
    <ion-segment-button value="sel_ser">
     Services
    </ion-segment-button>
     <ion-segment-button value="photos">
      Photos
    </ion-segment-button>
  </ion-segment>
</div>
   <div [ngSwitch]="type">
   	<ion-list *ngSwitchCase="'con_info'">
	<form  [formGroup]="_profileForm" method="post" novalidate (submit)="_saveProfile('profile')">
		<ion-input formControlName="id" type="hidden"></ion-input>
		<div class="login-spacing">
			<ion-item>
	      <ion-label stacked color="transparent">Firstname</ion-label>
	      <ion-input formControlName="firstname" type="text"></ion-input>
	    </ion-item>
	    <ion-item class="login-error" no-lines no-padding *ngIf="_profileForm.controls.firstname.hasError('required')">
				<p ion-text text-wrap>Please Enter Firstname</p>
			</ion-item>
	    <ion-item>
	      <ion-label stacked color="transparent">Lastname</ion-label>
	      <ion-input formControlName="lastname" type="text"></ion-input>
	    </ion-item>
	    <ion-item class="login-error" no-lines no-padding *ngIf="_profileForm.controls.lastname.hasError('required')">
				<p ion-text text-wrap>Please Enter Lastname</p>
			</ion-item>
			<ion-item>
	      <ion-label stacked color="transparent">Phone</ion-label>
	      <ion-input formControlName="phone" type="text"></ion-input>
	    </ion-item>
	    <ion-item class="login-error" no-lines no-padding *ngIf="_profileForm.controls.phone.hasError('required')">
				<p ion-text text-wrap>Please Enter Phone</p>
			</ion-item>
			<ion-item class="login-error" no-lines no-padding *ngIf="_profileForm.controls.phone.hasError('pattern') && _profileForm.controls.phone.value!=''">
				<p ion-text text-wrap>Please Enter Numbers Only</p>
			</ion-item>
			<ion-item class="login-error" no-lines no-padding *ngIf="_profileForm.controls.phone.hasError('minlength')">
				<p ion-text text-wrap>Minimum 9 Characters</p>
			</ion-item>
	    <ion-item>
	      <ion-label stacked color="transparent">Email</ion-label>
	      <ion-input formControlName="email" type="email"></ion-input>
	    </ion-item>
	     <ion-item class="login-error" no-lines no-padding *ngIf="_profileForm.controls.email.hasError('required')">
				<p ion-text text-wrap>Please Enter Email-ID</p>
			</ion-item>
			<ion-item class="login-error" no-lines no-padding *ngIf="_profileForm.controls.email.invalid && _profileForm.controls.email.value!=''">
				<p ion-text text-wrap>Please use correct email format, e.g.:someone@domain.com.</p>
			</ion-item>
	    <ion-item>
	      <ion-label stacked color="transparent">Password</ion-label>
	      <ion-input formControlName="password" type="password"></ion-input>
	    </ion-item>
	    <ion-item class="login-error" no-lines no-padding *ngIf="_profileForm.controls.password.hasError('required')">
				<p ion-text text-wrap>Please Enter Password</p>
			</ion-item>
	    <ion-item>
	      <ion-label stacked color="transparent">Address 1</ion-label>
	      <ion-input formControlName="address1" type="text"></ion-input>
	    </ion-item>
	    <ion-item class="login-error" no-lines no-padding *ngIf="_profileForm.controls.address1.hasError('required')">
				<p ion-text text-wrap>Please Enter Address 1</p>
			</ion-item>
	    <ion-item>
	      <ion-label stacked color="transparent">Address 2</ion-label>
	      <ion-input formControlName="address2" type="text"></ion-input>
	    </ion-item>
	    <ion-item>
	      <ion-label stacked color="transparent">City</ion-label>
	      <ion-input formControlName="city" type="text"></ion-input>
	    </ion-item>
	     <ion-item class="login-error" no-lines no-padding *ngIf="_profileForm.controls.city.hasError('required')">
				<p ion-text text-wrap>Please Enter City</p>
			</ion-item>
	    <ion-item>
	      <ion-label stacked color="transparent">State</ion-label>
	      <ion-select formControlName="state">
	      	<ion-option *ngFor="let s of state" [value]="s.id">{{s.name}}</ion-option>
	      </ion-select>
	    </ion-item>
	    <ion-item class="login-error" no-lines no-padding *ngIf="_profileForm.controls.state.hasError('required')">
				<p ion-text text-wrap>Please Enter State</p>
			</ion-item>
	    <ion-item>
	      <ion-label stacked color="transparent">Country</ion-label>
	      <ion-select formControlName="country">
	      	<ion-option *ngFor="let c of country" [value]="c.id">{{c.name}}</ion-option>
	      </ion-select>
	    </ion-item>
	    <ion-item class="login-error" no-lines no-padding *ngIf="_profileForm.controls.country.hasError('required')">
				<p ion-text text-wrap>Please Enter Country</p>
			</ion-item>
	    <ion-item>
	      <ion-label stacked color="transparent">Zipcode</ion-label>
	      <ion-input type="number" formControlName="zipcode"></ion-input>
	    </ion-item>
	    <ion-item class="login-error" no-lines no-padding *ngIf="_profileForm.controls.zipcode.hasError('required')">
				<p ion-text text-wrap>Please Enter Zipcode</p>
			</ion-item>
			<ion-item class="login-error" no-lines no-padding *ngIf="_profileForm.controls.zipcode.hasError('pattern') && _profileForm.controls.zipcode.value!=''">
				<p ion-text text-wrap>Please Enter Numbers Only</p>
			</ion-item>
			<ion-item class="login-error" no-lines no-padding *ngIf="_profileForm.controls.zipcode.hasError('minlength')">
				<p ion-text text-wrap>Minimum 5 Characters</p>
			</ion-item>
	  </div>
	  <div class="submit-btn">
			<button color="dark" ion-button block [disabled]="!_profileForm.valid"  type="submit">Save</button>
		</div>
	</form>
</ion-list>

 <ion-list *ngSwitchCase="'sel_ser'">
   <form method="post" [formGroup]="_profileForm2" (submit)="_saveProfile('service')">
   	<ion-input formControlName="seller_id" type="hidden"></ion-input>
		<div class="login-spacing">
			<!--BUSINESS NAME START-->
			<ion-item>
	      <ion-label stacked color="transparent">Business Name</ion-label>
	      <ion-input formControlName="businessname" type="text"></ion-input>
	    </ion-item>
	    <ion-item class="login-error" no-lines no-padding *ngIf="_profileForm2.controls.businessname.hasError('required') && _profileForm2.controls.businessname.touched">
				<p ion-text text-wrap>Please Enter Business Name</p>
			</ion-item>
	    <!--BUSINESS NAME END-->
	    <!--Website START-->
			<ion-item>
	      <ion-label stacked color="transparent">Website</ion-label>
	      <ion-input formControlName="website" type="text"></ion-input>
	    </ion-item>
	    <ion-item class="login-error" no-lines no-padding *ngIf="_profileForm2.controls.website.hasError('required') && _profileForm2.controls.website.touched">
				<p ion-text text-wrap>Please Enter Website</p>
			</ion-item>
	    <!--Website END-->
	    <!--Work Experience START-->
			<ion-item>
	      <ion-label stacked color="transparent">Work Experience</ion-label>
	      <ion-input formControlName="experience" type="text"></ion-input>
	    </ion-item>
	    <!--Work Experience END-->
	    <!--Primary Services START-->
			<ion-item>
	      <ion-label stacked color="transparent">Primary Services</ion-label>
	      <ion-input formControlName="primaryservice" type="text"></ion-input>
	    </ion-item>
	  <ion-item class="login-error" no-lines no-padding *ngIf="_profileForm2.controls.primaryservice.hasError('required') && _profileForm2.controls.primaryservice.touched">
				<p ion-text text-wrap>Please Enter Primary Service</p>
			</ion-item>
	    <!--Primary Services END-->
	    <!--Types of Experience START-->
			<ion-item>
	      <ion-label stacked color="transparent">Types of Experience</ion-label>
	      <ion-input formControlName="typeexp" type="text"></ion-input>
	    </ion-item>
	    <ion-item class="login-error" no-lines no-padding *ngIf="_profileForm2.controls.typeexp.hasError('required') && _profileForm2.controls.typeexp.touched">
				<p ion-text text-wrap>Please Enter Types of Experience</p>
			</ion-item>
	    <!--Types of Experience END-->
	    <!--Qualification START-->
			<ion-item>
	      <ion-label stacked color="transparent">Qualification</ion-label>
	      <ion-input formControlName="qualification" type="text"></ion-input>
	    </ion-item>
	    <!--Qualification END-->
	    <!--Description START-->
			<ion-item>
	      <ion-label stacked color="transparent">Description</ion-label>
	      <ion-input formControlName="description" type="text"></ion-input>
	    </ion-item>
	    <!--Description END-->
	    <!--Services START-->
			<ion-item>
	      <ion-label stacked color="transparent">Other Related Services</ion-label>
	      <ion-input formControlName="otherservice" type="text"></ion-input>
	    </ion-item>
	    <!--Services END-->
	    <div class="submit-btn">
				<button color="dark" ion-button block  type="submit" [disabled]="_profileForm2.invalid">Save</button>
			</div>
	  </div>
	   </form>
  </ion-list>
  <ion-grid *ngSwitchCase="'photos'">
  	<ion-row>
  		<button ion-button block (click)="CaptureImage()" color="secondary">
  			<ion-icon name="ios-cloud-upload"></ion-icon>&nbsp;&nbsp;
  			Upload Photos
  		</button>
  	</ion-row>
	  <form method="post" [formGroup]="_profileForm3" (submit)="uploadImage()">
		 	<ion-row>
		    <ion-col col-6 *ngFor="let profile_images of profile3">
		    	<ion-input type="hidden" formControlName="seller_id" value={{profile_images.seller_id}}></ion-input>
	          <img src="http://162.144.41.156/~izaapinn/agdemo/admin/uploads/seller/{{profile_images.image_name}}" onError="this.src='../assets/imgs/dummy_img.jpg';" />
	      </ion-col>
	    </ion-row>
	    <ion-row class="upload-images">
		  	<ion-col class="images" col-6 *ngFor="let img of user_photo;let i = index;">
		  		<button (click)="_removePhoto(i)" ion-button color="danger"><ion-icon name="trash"></ion-icon></button>
		  		<img src="{{img}}" style="height:100px;width:100%">	  		
		  	</ion-col>
		  </ion-row>
		  <ion-row>
		  	<button ion-button block color="dark" type="submit">Save</button>
		  </ion-row>
	  </form>
	</ion-grid>
 </div>
</ion-content>