<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title float-left>Services</ion-title>
     <ion-item class="bg-weather" float-right>
      {{this.city}}&nbsp;&nbsp;<span style="font-size: 18px;">{{this.weather}}&deg;C</span>
    </ion-item>
   <!-- <img src="assets/imgs/weather.jpg"><div>{{this.city}}&nbsp;&nbsp;{{this.weather}}&deg;C</div> -->
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">
  <div class="service-search">
    <form method="post" [formGroup]="_searchForm" novalidate (submit)="search_category()">
      <div class="login-spacing">
        <ion-grid>
          <ion-row class="search-box">
            <ion-col col-6>
              <ion-item>
                <ion-label stacked color="transparent">Select Category</ion-label>
                <ion-select formControlName="category">
                   <ion-option *ngFor="let c of category" [value]="c.id">{{c.name}}</ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col col-6>
              <ion-item>
              <!--  <ion-label stacked color="transparent">Enter Location</ion-label> -->
                <ion-input type="text" formControlName="location" placeholder="Enter Location"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row  class="search-box">
            <ion-col col-6>
             <ion-item>
             <!-- <ion-label stacked color="transparent">Enter Keyword</ion-label> -->
            <ion-input  type="text" formControlName="keywords" placeholder="Enter Keyword"></ion-input>
             </ion-item>
              </ion-col>
              
              <ion-col col-6>
                  <div class="submit-btn">
                    <button ion-button icon-only color="primary" (click)="search_category()"> <ion-icon name="search"></ion-icon></button>
                    <button ion-button icon-only color="danger" (click)="_clearSearch()"> <ion-icon name="md-close"></ion-icon></button>
                    
                 </div>
              </ion-col> 
            </ion-row>
      </ion-grid>
      </div>
    </form>
  </div>
  <div class="service-result">
    <ion-card  *ngFor="let s of services" (click)="openModal(s)">
    <img src="http://162.144.41.156/~izaapinn/agdemo/admin/uploads/services/{{s.image_name}}" onError="this.src='assets/imgs/dummy_img.jpg';"/>
    <ion-card-content>
      <ion-card-title>
        {{s.title}}
        </ion-card-title>
      <p class="description">{{s.description}}</p>
    </ion-card-content>
    <ion-row padding>
      <ion-col class="address">
          <ion-icon name='ios-pin'></ion-icon>
          {{s.address}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-right>
        <button ion-button  clear small color="danger" icon-start>
          <ion-icon name='share-alt'></ion-icon>
          More Details
        </button>
      </ion-col>
    </ion-row>
    </ion-card>
  </div>
  <ion-item *ngIf="services==null || services.length <=0 ">No Records Found.</ion-item>
  <!-- <ion-infinite-scroll (ionInfinite)="doInfinite($event)"  *ngIf="count < 2">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
</ion-content>