page-home {
	ion-col.address{
	font-size:12px !important;
	color:#96454e;
	}
	ion-card-title
	{
		font-size:20px !important;
	}
	p.description{
		font-size:14px !important;
		max-height: 60px;
		overflow: hidden;
	}
}
