// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.



.head-weather{ 
  background-image: url(../assets/imgs/weather.jpg);
  background-size: 100%;
  background-repeat:no-repeat;
  float: right; }

.head-weather p {
    color: #fff;
    padding: 0 6px;
    text-shadow: 1px 1px #000;
    font-size: 15px;
    font-weight: bold;
}

.head-weather p b {
    font-size: 21px;
}

.header .title-services {
    display: inline-block;
    margin-top:9px;
}

.location-search {
    position: fixed;
    background: rgb(245, 245, 245);
    z-index: 100000;
    border-bottom: 1px solid #ddd;
}

.services-content{ margin-top: 140px; }

.location-search .text-input{
    margin-top: 0;
    margin-bottom: 0;
}

.location-search ion-select {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.button-md-dark{ background-color: #72a944 !important;}